aniso8601==7.0.0
astroid==2.4.2
click==7.1.2
Flask==1.1.2
Flask-GraphQL==2.0.1
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
promise==2.3
pylint==2.6.0
Rx==1.6.1
six==1.15.0
toml==0.10.2
typed-ast==1.4.1
Werkzeug==1.0.1
wrapt==1.12.1
